<div class="container-fluid">
	<div class="row invite-row">
		<div class="col-sm-12">
			<h1>Invites</h1><br />
			<ul class="invite-list">
				<h4><%= flash[:success] %></h4>
				<% @invites.each do |invite| %>
					<li>
					Invited: <%= invite.name %><br />
					Number: <%= invite.phone_num %><br />
					Email: <%= invite.email %>
					</li>
				<%end%>
			</ul>
		</div>
	</div>
</div>