<div class="row header-row">
		<div class="col-sm-6 brand-col">
			<nav>
   				<div class="navbar-header">
     				<a class="navbar-brand" href="/">
        			<%= image_tag "brandImage.png", class: "brand-img" %>
      				</a>
    			</div>
			</nav>
		</div>
		<div class="col-sm-6 sign-in-col">
			<% if user_signed_in? %>
    			<a href="/users/sign_out" data-method="delete">
        			<button type="button" class="btn btn-default navbar-btn">Log out</button>
    			</a>
    		<% else %>
    			<a href="/users/sign_in">
					<button type="button" class="btn btn-default navbar-btn">Sign-in</button>
				</a>
			<% end %>

			<div class="dropdown about-dropdown">
  				<button class="btn btn-default dropdown-toggle btn-dropdown" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    			<i class="fa fa-bars dropdown-bars" aria-hidden="true"></i>
    				<span class="caret"></span>
  				</button>
  				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    			<li><a href="#">Home</a></li>
	    			<li><a href="#">About</a></li>
	    			<li><a href="#">Help</a></li>
	    			<li role="separator" class="divider"></li>
	    			<li><a href="#">Jobs</a></li>
  				</ul>
			</div>
		</div>
	</div>





