<div class="row header-row">
		<div class="col-sm-6 brand-col">
			<nav>
   				<div class="navbar-header">
     				<a class="navbar-brand" href="/">
        			<%= image_tag "brandImage", class: "brand-img" %>
      				</a>
    			</div>
			</nav>
		</div>
		<div class="col-sm-6 sign-in-col">
			<% if user_signed_in? %>
    			<a href="/users/sign_out" data-method="delete">
        			<button type="button" class="btn btn-default navbar-btn">Log out</button>
    			</a>
    		<% else %>
    			<a href="/users/sign_in">
					<button type="button" class="btn btn-default navbar-btn">Sign-in</button>
				</a>
			<% end %>
		</div>
	</div>