<div class="modal fade js-pokemon-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>

        <h3 class="modal-title">
          <span class="js-pkmn-name">
            Feraligtr
          </span>
          <small class="js-pkmn-number">
            #160
          </small>
        </h3>
      </div><!-- .modal-header -->

      <div class="modal-body">
        <dl class="dl-horizontal">
          <dt>Height</dt>
          <dd class="js-pkmn-height">
            23
          </dd>

          <dt>Weight</dt>
          <dd class="js-pkmn-weight">
            888
          </dd>

          <dt>Image</dt>
          <dd class="js-pkmn-img">

          </dd>

          <dt>Description</dt>
          <dd class="js-pkmn-desc">

          </dd>
        </dl>

        <div class="modal-footer">
          <button type="button" class="btn btn-default evo-btn" data-dismiss="modal" data-evo-uri="">Evolution</button>
        </div>
      </div><!-- .modal-body -->

    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal -->
