<% provide(:title, "Home") %>
<div class="container-fluid bg-img">
	<div class="row slogan-row">
		<section class="slogan">
			<% if user_signed_in? %>
				<h1>Hello <a href="/show/profile">
					<%= @user.first_name %>!
				</a> 
				</h1><br />
				<section class="create-group-section">
					<a href="/groups/new">
						<button type="button" class="btn btn-default create-group-btn">Create Group</button>
					</a>
		</section>
			<% else %>
				<h1>Save As You Spend</h1>
				<p>
					"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
				</p>
				<p>
					"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
				</p>
		</section>
		<br>
		<section class="sign-in-section">
				<a href="/users/sign_up">
					<button type="button" class="btn btn-default sign-up-btn">Create Account</button>
				</a>
				<h4>
					<b style="position: relative;
					top: 57px;">
					Or
            		</b>
				</h4><br />
				<a href="/users/sign_in">
					<button type="button" class="btn btn-info btn-lg sign-in-modal">Sign-In</button>
				</a>
	    </section>
       <% end %>
	</div>

	<!-- <div class="row footer-row">

	</div> -->
</div>










