<% provide(:title, "Home") %>
<div class="container-fluid bg-img">
	<div class="row header-row">
		<div class="col-sm-6 brand-col">
			<nav>
   				<div class="navbar-header">
     				<a class="navbar-brand" href="/">
        			<img class="brand-img" alt="Brand" src="/assets/Drawing.png">
      				</a>
    			</div>
			</nav>
		</div>
		<div class="col-sm-6 sign-in-col">
			<a href="/users/sign_in">
				<button type="button" class="btn btn-default navbar-btn">Sign-in</button>
			</a>
		</div>
	</div>

	<div class="row slogan-row">
		<section class="slogan">
			<h1>Save As You Spend</h1>
			<p>
				"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
			</p>
			<p>
				"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
			</p>
		</section>
	</div>
</div>










