<% provide(:title, "Home") %>
<div class="container-fluid bg-img">
	<div class="row slogan-row">
		<section class="slogan">
			<% if user_signed_in? %>
				<h1>Hello</h1> 
			<div class="row pic-info-row">
				<h4 class="media-heading">
					<a href="/show/profile">
						<%= gravatar_for @user %>
					</a><br>
					<a href="/show/profile" style="color: #EFF4F1;">
						<%= @user.nick_name %>
					</a>
				</h4> 
			</div>
				<br />
				<h4><%= flash[:sign_in] %></h4>
				<section class="create-group-section">
					<a href="/groups/new">
						<button type="button" class="btn btn-default create-group-btn">Create Group</button>
					</a>
				</section>
			<% else %>
				<h1 style="font-size: 50px;">Save As You Spend</h1>
				<p>
					"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
				</p>
				<p>
					"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
				</p>
		</section>
		<br>
		<section class="sign-in-section">
				<a href="/users/sign_up">
					<button type="button" class="btn btn-default sign-up-btn">Create Account</button>
				</a>
				<h4>
					<b style="position: relative;
					top: 57px;">
					Or
            		</b>
				</h4><br />
				<a href="/users/sign_in">
					<button type="button" class="btn btn-info btn-lg sign-in-modal">Sign-In</button>
				</a>
	    </section>
	</div>

	<div class="row mid-row">
		<p style="position: relative; top: 285px; left: 225px;">
	  		<div class="col-xs-6 col-md-3">
	    		<a href="#" class="thumbnail" style="height: 195px; position: relative; top: 80px; left: 480px;">
	      			<%= image_tag "piggy-bg-img.jpeg", class: "study-pic" %>
	    		</a>
	  		</div>
  			<em style="position: relative; top: 285px; left: 225px;">
  				SAVE FOR PEACE OF MIND.
  			</em>
  		</p>
	</div>
<% end %>
	<!-- <div class="row footer-row">

	</div> -->
</div>










