<div class="container-fluid">
	<div class="row pic-info-row">
		<div class="media">
  			<div class="media-left profile-pic-bs">
    			<a href="#">
      				<img class="media-object" src="/assets/dummy-profile.png" alt="...">
    			</a>
  			</div>
  			<div class="media-body profile-name">
    			<h4 class="media-heading">
    				<%= @user.first_name %>
    				<%= @user.last_name %>
    			</h4>
  			</div>
		</div>
	</div>

	<div class="row middle-row">

	</div>
</div>