<div class="container-fluid">
	<div class="row pic-info-row">
		<div class="media">
  			<div class="media-left">
    			<a href="#">
      				<img class="media-object" src="/assets/dummy-profile.png" alt="...">
    			</a>
  			</div>
  			<div class="media-body">
    			<h4 class="media-heading"><%= @user.name %></h4>
  			</div>
		</div>
	</div>

	<div class="row middle-row">

	</div>
</div>