<div class="container-fluid">
	<div class="row top-row">
		<h1>
		<a href="/goals/<%=@goals.id%>/edit">
			<%= @goals.goal_name %>
		</a>	
		</h1>
		<br>
		<h4>
		   $ <%= @goals.goal_amount %>
		</h4>
	</div>
</div>