/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.header-row {
	background-color: lightslategray;
}


 .brand-col {
	    width: 597px;
}

.brand-img {
	width: 165px;
    position: relative;
    left: 22px;
    top: -13px;
}

.navbar-btn {
	position: relative;
    left: 400px;
    top: inherit;
}

.about-dropdown {
	width: 168px;
    position: relative;
    left: 540px;
    bottom: 42px;
}

.sign-in-col {
	height: 50px;
    width: 700px;
}

.btn-dropdown {
	width: 64px;
	width: 77px;
    background: transparent;
    border-color: transparent;
}

.btn-dropdown:hover {
	width: 64px;
	width: 77px;
    background: transparent;
    border-color: transparent;
	/* HOVER ON */
	-webkit-transition: border-radius 2s;
}

.dropdown-bars {
	font-size: 28px;
}




