/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
.row {
    margin-right: 0px;
}

 body {
    background-color: rgba(122, 148, 147, 0.36);
 }
 
.header-row {
	background-color: whitesmoke;
    height: 63px;
    /*width: 1294px;*/
}


 .header-nav {
	   width: 1289px;
    height: 100%;
    position: relative;
    right: -2px;
    background-color: transparent;
    border-color: transparent;
}

.brand-img {
	width: 165px;
    position: relative;
    left: 5px;
    top: -36px;
}

.navbar-btn {
	position: relative;
    left: 400px;
    top: inherit;
}

.about-dropdown {
	width: 168px;
    position: relative;
    left: 540px;
    bottom: 42px;
}

.sign-in-col {
	height: 50px;
    width: 700px;
}

.btn-dropdown {
	width: 77px;
	height: 38px;
    background: transparent;
    border-color: transparent;
}

.btn-dropdown:hover {
	width: 64px;
	width: 77px;
    background: transparent;
    border-color: transparent;
	/* HOVER ON */
	-webkit-transition: border-radius 2s;
}

.dropdown-bars {
	color: #03A41F;
}

.footer-brand-img {
	position: relative;
    left: 40px;
    top: -3px;
}

.home-footer-link {
	position: relative;
    left: 80px;
    color: #03A41F;
}

.about-footer-link {
	position: relative;
    left: 95px;
    color: #03A41F;
}

.help-footer-link {
	position: relative;
    left: 113px;
    color: #03A41F;
}

.contact-footer-link {
	position: relative;
    left: 130px;
    color: #03A41F;
}

.footer-row {
	border-top-color: antiquewhite;
    border-top: solid white;
    height: 133px;
    margin-right: 0px;
}

.github-icon {
	position: relative;
    left: 670px;
    top: 40px;
    font-size: 55px;
    color: #808080;
}

.linkedn {
	position: relative;
    top: 39px;
    left: 681px;
    font-size: 55px;
    color: gray;
}
