// Place all the styles related to the Goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .current-amnt {
//     color: black;
//     font-size: 20px;
//     position: relative;
//     right: 165px;
// }

// .goal-amnt {
//     position: relative;
//     top: 45px;
//     right: 17%;
//     color: black;
// }

.top-row {
    padding: 50px;
}

.goals-page {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0;
    bottom: auto;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.73);
    // background: image-url( '/assets/savings.jpg');
    background-size: 100%;
}

.a-tag-goal {
    color: black;
}

.current-amnt-label {
    position: relative;
    left: 17%;
}

.goal-info {
	background-color: whitesmoke;
    width: 50%;
    position: relative;
    // top: 65px;
    left: 25%;
    border-radius: 10px;
    height: 355px;
}

.add-fundz-input {
	position: relative;
    top: 80px;
    left: 5%;
}

.goal-amt {
	position: relative;
    left: 80%;
    bottom: 22%;
    font-size: 30px;
    width: 135px;
}

.create-goal-form {
    position: relative;
    left: 27%;
    bottom: 165px;
    width: 50%;
    height: 381px;
    text-align: center;
    font-size: 208%;
    background-color: cadetblue;
    border-radius: 10px;
}

.goal-form-panel-body {
    position: relative;
    top: 46px;
    left: 5%;
    background-color: whitesmoke;
    width: 90%;
    border-radius: 10px;
}

.goal-form-heading {
    position: relative;
    bottom: 180px;
    left: 41%;
    width: 22%;
}

.cash-out-btn {
    position: relative;
    top: 112px;
    font-size: 15px;
    height: 35px;
    width: 117px;
    right: -65px;
}

.edit-goal {
    position: relative;
    top: -98px;
    float: left;
}




