// Place all the styles related to the Goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.goal-info {
	background-color: whitesmoke;
    width: 50%;
    position: relative;
    top: 65px;
    left: 25%;
    border-radius: 10px;
    height: 355px;
}

.add-fundz-input {
	position: relative;
    top: 135px;
    left: 5%;
}

.goal-amt {
	position: relative;
    left: 80%;
    bottom: 22%;
    font-size: 30px;
}