// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.total-savings {
	position: absolute;
    left: 414px;
    top: 2px;
}

.fa-usd {
	position: relative;
    top: 10px;
}

.goal-col {
	position: relative;
    right: 615px;
    background-color: ghostwhite;
    border-radius: 10px;
    width: 445px;
}

.goal-item {
	width: 305px;
}

.contrib-col {
	position: relative;
    left: 800px;
    bottom: 265px;
    background-color: ghostwhite;
    width: 470px;
    border-radius: 10px;
}

.invite-link {
	position: relative;
    left: 1108px;
    bottom: 192px;
}











