// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.total-savings {
	position: absolute;
    left: 414px;
    top: 2px;
}

.fa-usd {
	position: relative;
    top: 10px;
    font-style: italic;
    color: rgba(28, 100, 0, 0.58);
}

.goal-col {
	position: relative;
    right: 285px;
    background-color: ghostwhite;
    border-radius: 10px;
    width: 445px;
    padding: 20px;
}

.goal-item {
	width: 305px;
}

.contrib-col {
    background-color: ghostwhite;
    width: 470px;
    border-radius: 10px;
    padding: 20px;
}

.invite-link {
	position: relative;
    left: 1000px;
    bottom: 197px;
    width: 120px;
}











