// Place all the styles related to the log_in controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .container {
//   display: block;
//   width: 100%;
//   height: 100vh;
//   border-radius: 0;
//   bottom: auto;
//   margin: 0;
//   background-image: image-url( '/assets/Blur2-full.jpg');
//   background-size: 100%;
// }
.list-group-item {
  position: relative;
  top: 5%;
  // width: 43%;
}

.qoute-para {
  font-size: 15px;
}

.edit-group {
  float: left;
    float: top;
    position: relative;
    top: -60px;
}

.profile-pic {
  position: relative;
  left: 50%;
}


.pic-info-row {
  height: 335px;
}

.family-list {
 position: relative;
  top: 55px;
  background-color: whitesmoke;
  width: 330px;
  border-radius: 10px;
}


.info-well {
    width: 330px;
    position: relative;
    top: 30px;
    left: 35%;
}


.profile-label {
  position: relative;
    left: 21px;
}


.edit-profile-col {
  height: 635px;
    border: solid white thin;
    border-radius: 5px;
    width: 800px;
    position: relative;
    left: 15%;
    background-color: darkgray;
}


.edit-profile-link {
  color: white;
}


.group-topic {
  position: relative;
    width: 100px;
    left: 595px;
    top: 35px;
    color: mediumseagreen;
    font-style: italic;
}

.group-section {
    position: absolute;
    left: 55%;
    top: 45%;
    width: 345px;
    height: 255px;
    background: whitesmoke;
    text-align: center;
    padding: 15px;
    border-radius: 10px;

}

.gravatar {
  border-radius: 60px;
  padding: 20px;
}


.profile-pic-bs {
  width: 115px;
}

.profile-name {
  width: 195px;
}


.bg-img {
	display: block;
	width: 100%;
	height: 100vh;
	border-radius: 0;
	bottom: auto;
	margin: 0;
	// background-color: blue;
	background: image-url( '/assets/savings.jpg');
  background-size: 100%;

}


.create-group-btn {
  width: 225px;
    height: 60px;
    font-size: 21px;
    border-radius: 15px;
    background-color: transparent;
    color: whitesmoke;
    position: relative;
    bottom: 190px;
    padding: 15px;
}

.create-group-btn:hover {
    width: 225px;
    height: 60px;
    font-size: 21px;
    padding: 15px;
    border-radius: 15px;
    color: rgb(214, 255, 0);
    background-color: dimgrey;

  /* HOVER ON */
   -webkit-transition: border-radius 2s;
}



.sign-up-btn {
	width: 225px;
    height: 60px;
    font-size: 21px;
    border-radius: 15px;
    background-color: transparent;
    color: whitesmoke;
    position: relative;
    top: 40px;
    padding: 15px;
}

.sign-up-btn:hover {
	width: 225px;
    height: 60px;
    font-size: 21px;
   	padding: 15px;
   	border-radius: 15px;
  	color: whitesmoke;
  	background-color: dimgrey;

  /* HOVER ON */
   -webkit-transition: border-radius 2s;
}


.slogan-row {
	position: relative;
    top: 135px;
    text-align: center;
    color: white;
}


.row {
	// border: 1px dotted red;
}

.navbar-btn {
	position: relative;
    left: 445px;
    top: 13px;
}

.navbar-default {
	width: 259px;
    position: relative;
    top: 9px;
}

.brand-img {
	width: 200px;
    position: relative;
    left: 22px;
    top: -5px;
}

.brand-col {
	    width: 597px;
}

.sign-in-modal {
    position: absolute;
    top: 305px;
    right: 527px;
    width: 225px;
    height: 60px;
    font-size: 21px;
    border-radius: 15px;
    background-color: transparent;
    color: whitesmoke;
}


.sign-in-modal:hover {
  width: 225px;
  height: 60px;
  font-size: 21px;
  padding: 15px;
  border-radius: 15px;
  color: whitesmoke;
  background-color: dimgrey;

  /* HOVER ON */
   -webkit-transition: border-radius 2s;
}

.mid-row {
  position: relative;
  top: 274px;
}

.fa-usd {
  color: white;
}

.goal-font {
  position: relative;
  left: 80%;
  top: -21px;
  font-size: 15px;
  color: black;
}

.family-panel {
  width: 50%;
  position: relative;
  top: 13%;
}

.savings-title {
  width: 12%;
  position: absolute;
  left: 70%;
  bottom: 54%;
}

.group-list {
  width: 81%;
  position: relative;
  left: 11%;
}

.users-panel-heading {
  text-align: center;
}











